

.logo-text1 {
    -fx-font-size: 320px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffff67;
    -fx-translate-x: 500;
    -fx-translate-y: 400;
}

.logo-text2 {
    -fx-font-size: 79px;
    -fx-font-family: 'Times New Roman';
    -fx-font-weight: lighter;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-y: 50;
}

.logo-text3 {
    -fx-font-size: 35px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: 100;
    -fx-translate-y: 10;
}

.logo-text4 {
    -fx-font-size: 35px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: 200;
    -fx-translate-y: 110;
}

.logo-text5 {
    -fx-font-size: 35px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -100;
    -fx-translate-y: 10;
}

.texts {
    -fx-font-size: 20px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-translate-x: 0;
    -fx-translate-y: 15;
}

.datas {
    -fx-font-size: 40px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-translate-x: 0;
    -fx-translate-y: 15;
}

.dTexts {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-text-align: justify;
    -fx-text-fill: #ffffff;
    -fx-translate-x: 0;
    -fx-translate-y: -50;
}

.InnBox {
    -fx-fill: #e79d36;
}

#menuButton {
    -fx-font-size: 38px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: -10;
    -fx-translate-y: 150;
    -fx-fill: #e79d36;
}

#deskBox {
    -fx-text-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-text-family: 'Tahoma';
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-fill: #e79d36; 
}

.table-row-cell {
    -fx-border-color: transparent transparent #dcdcdc transparent;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell.non-empty {
    -fx-border-color: transparent transparent #bfbfbf transparent;
    -fx-border-width: 0 0 2 0;
}

#addButton {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: -400;
    -fx-translate-y: 80;
    -fx-padding: 10 20;
}

#updateButton {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: -360;
    -fx-translate-y: 80;
    -fx-padding: 10 20;
}

#deleteButton {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: -310;
    -fx-translate-y: 80;
    -fx-padding: 10 20;
}

.namaMakanan {
    -fx-text-fill: rgb(55, 5, 5);
    -fx-font-size: 15px;
    -fx-translate-x: -20;
    -fx-translate-y: 120;
    -fx-padding: 10 20;
    -fx-background-color: #e9aa36;
    -fx-prompt-text-fill: brown;
}

.deskMakanan {
    -fx-text-fill: rgb(55, 5, 5);
    -fx-font-size: 15px;
    -fx-translate-x: -20;
    -fx-translate-y: 120;
    -fx-padding: 10 20;
    -fx-background-color: #e9aa36;
    -fx-prompt-text-fill: brown;
}

#descriptionArea {
    -fx-control-inner-background: #e9aa36; 
    -fx-text-fill: #580505; 
}

.table-row-cell {
    -fx-background-color: #e9aa36; 
}

.table-row-cell:even {
    -fx-background-color: #e9aa36; 
}

.table-row-cell:odd {
    -fx-background-color: #e9aa36; 
}

.table-row-cell:selected {
    -fx-background-color: #e9aa36; 
}


.btnLing {
    -fx-translate-x: -40;
    -fx-translate-y: 10;
    -fx-background-color: #692c1d;
}

.btnLing1 {
    -fx-translate-x: 40;
    -fx-translate-y: 10;
    -fx-background-color: #692c1d;
}

.backbtn {
    -fx-translate-x: 42;
    -fx-translate-y: 12;
}

.img1 {
    -fx-translate-x: 155;
    -fx-translate-y: 75;
    -fx-size-adjust: 300px;
}

.img2 {
    -fx-translate-x: -155;
    -fx-translate-y: 77;
    -fx-size-adjust: 300px;
}

.img3 {
    -fx-translate-x: 155;
    -fx-size-adjust: 175px;
}

.img4 {
    -fx-translate-x: -162;
    -fx-size-adjust: 150px;
}
.img5 {
    -fx-translate-y: -150;
}
.img6 {
    -fx-translate-x: -42;
    -fx-translate-y: 10;
}
.img7 {
    -fx-translate-x: 270;
    -fx-translate-y: 100;
}

.img8 {
    -fx-translate-x: -282;
    -fx-translate-y: 100;
}

.usernameAdminText {
    -fx-font-size: 40px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -300;
    -fx-translate-y: -150;
}

.signUpLog {
    -fx-font-size: 16px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: lighter;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -450;
    -fx-translate-y: 0;
}

.signInLog {
    -fx-font-size: 16px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: lighter;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -450;
    -fx-translate-y: 98;
}

#signButton {
    -fx-font-size: 35px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: lighter;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: -10;
    -fx-translate-y: 150;
    -fx-fill: #e79d36;
}

.usernameAdminField {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: -149;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.NameField {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: 80;
    -fx-translate-y: -149;
    -fx-fill: #e79d36;
}

.passAdminText {
    -fx-font-size: 40px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -301;
    -fx-translate-y: -50;
}
.passAdminField {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: -50;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.passAdminShow {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: -50;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.passAdminShow1 {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: 50;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.passField {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: 80;
    -fx-translate-y: -50;
    -fx-fill: #e79d36;
}
.RnameAdminText {
    -fx-font-size: 40px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -300;
    -fx-translate-y: -150;
}

.RnameAdminField {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: -149;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.RNameField {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: 80;
    -fx-translate-y: -149;
    -fx-fill: #e79d36;
}

.RusernameAdminText {
    -fx-font-size: 40px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -300;
    -fx-translate-y: -50;
}

.RusernameAdminField {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: -49;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.RUNameField {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: 80;
    -fx-translate-y: -49;
    -fx-fill: #e79d36;
}

.RpassAdminText {
    -fx-font-size: 40px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-fill: #ffffff;
    -fx-translate-x: -301;
    -fx-translate-y: 50;
}
.RpassAdminField {
    -fx-font-size: 25px;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-text-align: left;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
    -fx-translate-x: 80;
    -fx-translate-y: 50;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.RpassField {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e79d36;
    -fx-font-family: 'Tahoma';
    -fx-translate-x: 80;
    -fx-translate-y: 50;
    -fx-fill: #e79d36;
}

.vpass1 {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #e79d36;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-translate-x: 380;
    -fx-translate-y: -50;
    -fx-font-size: 14px;
}
.viewPassImages {
    -fx-translate-x: 380;
    -fx-translate-y: -50;
}

.vpass2 {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #e79d36;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-translate-x: 380;
    -fx-translate-y: 50;
    -fx-font-size: 14px;
}
.viewPassImages1 {
    -fx-translate-x: 380;
    -fx-translate-y: 50;
}

.root {
    -fx-background-image: url(/image/Background.jpg);
}